<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Todo</a>
  </nav>
</header>
<div class="container">
  <h1>Todo List</h1>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="todo-name" class="sr-only">Name</label>
      <input type="text" id="todo-name" formControlName="name" class="form-control" placeholder="Name" autocomplete="off">
    </div>
    <button type="submit" class="btn btn-primary mx-sm-3 mb-2" [disabled]="!todoForm.valid">Add</button>
  </form>

  <ul class="list-group">
    <li *ngFor="let item of items$ | async" class="list-group-item">
      {{ item.name }}
    </li>
  </ul>
</div>